language: python
python:
  # - "2.6"
  - "2.7"
  # - "3.2"
  # - "3.3"
# command to install dependencies
# before_install:
  # - "export DISPLAY=:99.0"
  # - "sh -e /etc/init.d/xvfb start"
install:
  - "pip install ."
  - "pip install -r requirements.txt"
# command to run tests
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start
script: pybot -i beta tests/
